{% extends 'core/base.html' %}
{% block content %}
<div class="container d-flex flex-column justify-content-center align-items-center">
    <h2>Register</h2>
    <form class="d-flex flex-column gap-3 w-50" action="{% url 'users:register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingEmail" placeholder="Email" name="email" required>
            <label for="floatingEmail">Email</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username" required>
            <label for="floatingUsername">Username</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingFirstName" placeholder="First Name" name="first_name" required>
            <label for="floatingFirstName">First Name</label>
        </div>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingLastName" placeholder="Last Name" name="last_name" required>
            <label for="floatingLastName">Last Name</label>
        </div>

        <!-- Select account type -->
        <div class="form-floating">
            <select class="form-control" name="user_type" required>
                <option value="idea_owner">Idea Owner</option>
                <option value="business">Business / Investor</option>
            </select>
            <label for="user_type">Account Type</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required>
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" name="password2" required>
            <label for="floatingConfirmPassword">Confirm Password</label>
        </div>


        <div class="mb-3">
            <label for="avatar" class="form-label">Upload Profile Picture (optional)</label>
            <input type="file" class="form-control" name="avatar" accept="image/*">
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}